<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/creatdiary.css">
    <style>

    </style>
</head>

<body>
    <img src="/images/backbtn.png" class="back" onclick="back()" alt="">

    <div class="main">

        <div class="diary">

            <form action="">
                <div class="date_div">
                    <p>Date:</p>
                    <p class="date" id="cdate"></p>

                </div>
                <div class="diary_content">
                    <div class="title">
                        <input type="text" name="" placeholder="Title" id="title">
                    </div>
                    <div class="img_file">
                        <input type="file" name="" id="image" onchange="previewImage()">
                        <div class="imgbtn_div" onclick="imgSelector()">
                            <img src="/images/imgup.png" alt="" srcset="" id="imgbtn" class="Cbtn">
                            <img id="imagePreview" src="" style="display: none;">
                        </div>
                    </div>
                    <div class="bio">

                        <textarea name="" id="bio" placeholder="Start from here ..."></textarea>
                    </div>
                    <div style="display: flex;justify-content: end;">
                        <button type="button" onclick="submitDiary()">Finished</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        const currentDate = new Date();
        const day = String(currentDate.getDate()).padStart(2, '0');
        const month = String(currentDate.getMonth() + 1).padStart(2, '0');
        const year = currentDate.getFullYear();
        document.getElementById('cdate').innerText = `${day}/${month}/${year}`;

        const imgSelector = () => {
            document.getElementById('image').click()
            document.getElementById('imgbtn').style.display = 'none'
        }

        function previewImage() {
            const file = document.getElementById('image').files[0];
            const reader = new FileReader();

            reader.onload = function (e) {
                const imagePreview = document.getElementById('imagePreview');
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            };

            if (file) {
                reader.readAsDataURL(file);
            }
        }

        const back = () => {
            window.history.back()
        }


        async function submitDiary() {
            const userid = localStorage.getItem('userid');
            const title = document.getElementById('title').value;
            const image = document.getElementById('image').files[0];
            const bio = document.getElementById('bio').value;

            const formdatas = new FormData();
            formdatas.append('title', title);
            formdatas.append('image', image);
            formdatas.append('bio', bio);
            formdatas.append('userid', userid);
            console.log('im here');

            try {
                await fetch('/createDairy', {
                    method: 'post',
                    body: formdatas
                });
                alert('Diary submitted successfully');
                window.location.href = '/createDairy';
            } catch (err) {
                alert('Post failed successfully');
            }
        }
    </script>
</body>

</html>