<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Home</h1>
    <form action="/logout">
        <button type="submit">logout</button>

    </form>
    <a href="/profile">profile</a><br>
    <a href="/createDairy">createDairy</a><br>
    <a id="user_Diary">viewDairy</a>


    <script>
        const userid = localStorage.getItem('userid')
        console.log(userid,'sdfjsdl')
        document.getElementById('user_Diary').href = `/viewDiary?userid=${userid}`
    </script>
</body>

</html>