<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<style>

</style>

<body>
    <img src="/images/backbtn.png" class="back" onclick="back()" alt="">
    <div class="main">
        <h1>
            manage profile
            <button class="eye" onclick="edit()" class="edit"><img src="/images/edit2.png"  alt=""></button><br>
        </h1>
        {{#each user}}
        <div class="Uitem">
            <img src="/images/nameP.png" alt="">
            <p id="pname">{{name}} </p>
        </div>
        <div class="Uitem">
            <img src="/images/emailP.png" alt="">
            <p id="pemail">{{email}} </p>
        </div>
        <div class="UitemP">
            <img src="/images/passwordP.png" alt="">
            <input type="password" id="ppass" value="{{password}}" disabled>
            <div class="eye" onclick="showpass()"><img src="/images/openeye.png" id="icon" alt=""></div>
        </div>
        {{/each}}
        <br><br>
        <div class="filtering">
            <form action="/logout">
                <button class="btn" type="submit"><img src="/images/signout.png" alt=""> Signout</button>
            </form>
        </div>
        <br><br>
        <div id="edSection" style="display:none ;">
            <div>
                <input class="inp" type="text" name="" value="" id="newname">
                <button class="btn" type="button" onclick="Nsubmit()">Change Name</button>
            </div>
            <br>
            <div>
                <input class="inp" type="email" name="" id="newemail" placeholder="new email">
                <button class="btn" type="button" onclick="Esubmit()">Change email</button>
            </div>
            <br>
            <div>
                <input class="inp" type="text" name="" placeholder="new password" id="newpass">
                <button class="btn" type="button" onclick="Psubmit()">Change Passowrd</button>
            </div>

        </div>
    </div>
    <script>
        const userid = localStorage.getItem('userid')
        const pname = document.getElementById('pname').innerText
        document.getElementById('newname').value = pname

        const pemail = document.getElementById('pemail').innerText
        document.getElementById('newemail').value = pemail

        const ppass = document.getElementById('ppass').value
        document.getElementById('newpass').value = ppass

        const edit = () => {
            document.getElementById('edSection').style.display = 'block'
        }
        function showpass() {
            const passwordField = document.getElementById('ppass');
            const eyeIcon = document.getElementById('icon');

            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                eyeIcon.src = '/images/closeeye.png';
            } else {
                passwordField.type = 'password';
                eyeIcon.src = '/images/openeye.png';
            }
        }
        const back = () => {
            window.history.back()
        }



        const Nsubmit = async () => {
            const newname = document.getElementById('newname').value
            try {
                await fetch('/changeName', {
                    method: 'put',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ newname, userid })
                })
                window.location.href = `/userdetails?userid=${userid}`
                document.getElementById('edSection').style.display = 'none'

                alert('user updated successfully');

            } catch (err) {
                alert('user faild succefuly')
            }

        }
        const Esubmit = async () => {
            const newemail = document.getElementById('newemail').value
            try {
                await fetch('/changeEmail', {
                    method: 'put',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ newemail, userid })
                })
                window.location.href = `/userdetails?userid=${userid}`
                document.getElementById('edSection').style.display = 'none'

                alert('user updated successfully');

            } catch (err) {
                alert('user faild succefuly')
            }

        }
        const Psubmit = async () => {
            const newpassword = document.getElementById('newpass').value
            try {
                await fetch('/changePassword', {
                    method: 'put',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ newpassword, userid })
                })
                window.location.href = `/userdetails?userid=${userid}`
                document.getElementById('edSection').style.display = 'none'

                alert('user updated successfully');

            } catch (err) {
                alert('user faild succefuly')
            }

        }

    </script>
</body>

</html>