<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
</head>

<body>
    <div class="main">

        <h1 class="head">signin</h1>
        <form action="">
            <input type="email" name="" placeholder="email" onchange="getEmail(event)">
            <input type="password" name="" placeholder="password" onchange="getPassword(event)">
            <button onclick="signin()">signin</button>
        </form>
        <br><br>
        <a href="/signup"> Don't have a account? Signup</a>
    </div>



    <script>
        let email = ''
        let password = ''


        function getEmail(e) {
            email = e.target.value
        }
        function getPassword(e) {
            password = e.target.value
        }

        async function signin() {
            try {
                const res = await fetch('/signin', {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email, password })
                })
                const data = await res.json()
                if (res.ok) {
                    localStorage.setItem('userid', data.userid)
                    window.location.href = '/'
                } else {
                    alert(data.message || 'somthing wrog')
                }
            } catch (err) {
                console.log(err)
            }
        }
    </script>
</body>

</html>