<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/viewDiary.css">
    <style>

    </style>
</head>

<body>


    <div class="main">
        <div class="filter">
            <img src="/images/backbtn.png" class="back" onclick="back()" alt="">
            <form action="">
                <h3>Find by Date:</h3>
                <div class="inpfield">
                    <input type="date" name="" id="date">
                    <a id="findbyDate" onclick="filter()"><img src="/images/search.png" alt=""></a>
                </div>
            </form>
        </div>
        <br><br>


        <div class="diary_main">
            {{#each diaries}}
            <div class="diary_card">
                <a class="diary_card_details" onclick="getId(event)" data-id="{{_id}}">
                    <div class="items">

                        <li> </li>
                        <li type="none">{{upDate}}</li>
                    </div>
                    <div class="items">
                        <p>{{title}}</p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    <script>
        const filter = () => {
            const bdate = document.getElementById('date').value
            const date = bdate.split('-').reverse().join('/')
            document.getElementById('findbyDate').href = `/DiarybyDate?date=${date}`
        }

        const getId = (e) => {
            const DiaryId = e.currentTarget.getAttribute('data-id')
            e.currentTarget.href = `/Diary?id=${DiaryId}`
            console.log(DiaryId, 'id')
        }
        const back = () => {
            window.history.back()
        }

    </script>
</body>

</html>