<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>all Diary</h1>
    <form action="">
        <input type="date" name="" id="date">
        <a id="findbyID" onclick="filter()">find</a>
    </form>

    {{#each diaries}}
    <p>{{title}}</p>
    <p>{{upDate}}</p>
    <img class="image" src="/images/{{image}}" alt="">
    <p>{{bio}}</p>
    {{/each}}

    <script>
        const filter = () => {
            const bdate = document.getElementById('date').value
            const date = bdate.split('-').reverse().join('/')
            document.getElementById('findbyID').href = `/DiarybyDate?date=${date}`
        }


    </script>
</body>

</html>