body {
    background-image: url('/images/Dbackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}

.filtering {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: end;
    gap: 2px;
}

button {
    border: 0;
  
    padding: 5px;
    padding-inline: -15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.filtbtn {
    width: 35%;
    margin: auto;
    display: flex;
    justify-content: center;
    object-fit: contain;
    transition: all;
}

.filtbtn:hover {
    scale: calc(1.1);
}

button:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1) ;
}

button{
    background: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 1s;

}
.diary_main {
    background-image: url('/images/Dbgpage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;

}
.back{
    width: 30px;
    margin: auto;
    height: 30px;
    object-fit: cover;
    margin-left: 5px;
    margin-top: 5px;
}

.diary_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date_div {
    display: flex;
    width: 100%;
    justify-content: end;
}

.title_div {
    display: flex;
    width: 100%;
    align-items: center;
}

.img_div {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.bio_div {
    width: 100%;
    height: 23vh;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;

}
.bio_div textarea{
    width: 100%;
    background: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    resize: none;
    border: 0;
    color: black;
    margin-top: 8px;
    font-size: 15px;
    outline: none;
}

.image {
    border-radius: 5px;
    height: 35vh;
    width: 100%;
    object-fit: cover;

}

.btn_div{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 10px;
}
.sbbtn{
    background-color: rgba(255, 255, 255, 0.467);
    padding-inline: 2%;
    color: black;
    
}

input {
    height: 3vh;
    width: 70%;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1%;
    border: 0;
    outline: none;
    color: black;
    background: transparent;

}

#image{
    display: none;
}
.btn {
    height: 5vh;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}