body {
    background-image: url('/images/Dbackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
}


.diary_main {
    background-image: url('/images/Dbgpage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin: auto;
    padding: 10px;
    flex-direction: column;
    width: 50%;
    height: 90%;
    margin-top: 5vh;
    margin-bottom: 10px;
    overflow: scroll;
    gap: 10px;
}

.diary_card {
    cursor: pointer;
    box-shadow:  2px 4px 5px #11121257;
    padding-inline: 2%;
    display: flex;
    transition: all 1s;
}
.diary_card:hover {
    
    box-shadow:  0px 0px 0px #11121257;
    
}
.diary_card_details{
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.items{
    display: flex;
    gap: 2px;
}
.filter{
    width: 100%;
    position: fixed;
    display: flex;
    color: #000;
    box-shadow:  2px 4px 5px #11121257;
}
.back{
    width: 30px;
    margin: auto;
    height: 30px;
    object-fit: cover;
    margin-left: 5px;
}
form{
    display: flex; 
    width: 100%;
    height: 8vh;
    gap: 10px;
    justify-content: center;
}

input{
    height: 5vh;
    width: 100%;
    padding-inline: 1%;
    outline: none;
    border: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: transparent;
    border-right: 1px solid black;
    font-size: 15px;

}

form img{
    height: 2.5vh;
    margin-left: 5px;
    display: flex;
    justify-content: center;
}
.inpfield{
    height: 6vh;
    border: 0;
    padding-inline: 2%;
    border-bottom: 1px solid #112D4E;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}